<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lip Reading</title>
</head>
<body>
    <form action="/predict" method="POST" enctype="multipart/form-data">
        <label for="videoselect">Choose a video:</label>
        <select id="videoselect" name="videoselect">
            <option value="lgaf7a">Video 1</option>
            <option value="lgbmzs">Video 2</option>
            <option value="lwwz6n">Video 3</option>
            <option value="pbwp6s">Video 4</option>
            <option value="bbae4n">Video 5</option>
            <option value="bbae5n">Video 6</option>
            <option value="bbae6n">Video 7</option>
            <option value="bbae7n">Video 8</option>
            <option value="srahzn">Video 9</option>
        </select>
        <button type="submit">Start Processing</button>
    </form>
</body>
</html>
